APP_NAME=sso

GRPC_PORT=8080
GRPC_TIME=30s
GRPC_TIMEOUT=5s
GRPC_MAX_CONN_IDLE=15m
GRPC_MAX_CONN_AGE=30m

DIAGNOSTIC_PORT=8081
HTTP_TIMEOUT=5s
IDLE_TIMEOUT=30s

SHUTDOWN_TIMEOUT=30s

DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=root
DB_DATABASE="${APP_NAME}"

DB_URL="postgres://${DB_USERNAME}:${DB_PASSWORD}@db:5432/${DB_DATABASE}?sslmode=disable"

OTEL_GRAFANA_PORT=3000
OTEL_GRPC_PORT=4317
OTEL_HOST=otel
OTEL_IS_TLS=false
OTEL_ENDPOINT="${OTEL_HOST}:${OTEL_GRPC_PORT}"
